@page
@model MVAIntermediate.Pages.Orders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderMasters</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderMasters.TableId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderMasters.TableId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderMasters.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderMasters.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderMasters.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderMasters.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderMasters.WaiterName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderMasters.WaiterName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OrderMasters.OrderNo" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
